.percentage-change-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 5px;
  max-width: 100px;
  margin: 0 auto;
}

.mat-icon {
  margin-right: 5px;
}

.no-change {
  color: var(--stockfolio-no-change-text);
  background-color: var(--stockfolio-no--change-background);
}

.positive-change {
  color: var(--stockfolio-gain-text);
  background-color: var(--stockfolio-gain-background);
}

.negative-change {
  color: var(--stockfolio-loss-text);
  background-color: var(--stockfolio-loss-background);
}
