/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
* Fork at: https://materialtheme.arcsine.dev/?c=YHBhbGV0dGU$YHByaW1hcnk$YF48Izc1NzU3NSIsIj9lcjwjZDZkNmQ2IiwiO2VyPCM1ODU4NTh$LCIlPmBePCMwMDk3YTciLCI~ZXI8I2IzZTBlNSIsIjtlcjwjMDA3YThjfiwid2Fybj5gXjwjYjAwMDIwIiwiP2VyPCNlN2IzYmMiLCI7ZXI8Izk3MDAxM34sIj9UZXh0PCMwMDAwMDAiLCI~PTwjZmZmZmZmIiwiO1RleHQ8I2ZmZmZmZiIsIjs9PCMyMTIxMjF$LCJmb250cz5bYEA8KC00IiwiZmFtaWx5PFJvYm90byBTbGFifixgQDwoLTMiLCJmYW1pbHk8Um9ib3RvIFNsYWJ$LGBAPCgtMiIsImZhbWlseTxSb2JvdG8gU2xhYn4sYEA8KC0xIiwiZmFtaWx5PFJvYm90byBTbGFifixgQDxoZWFkbGluZSIsImZhbWlseTxSb2JvdG8gU2xhYn4sYEA8dGl0bGUiLCJmYW1pbHk8Um9ib3RvIFNsYWJ$LGBAPHN1YiktMiIsImZhbWlseTxSb2JvdG8gU2xhYn4sYEA8c3ViKS0xIiwiZmFtaWx5PFJvYm90byBTbGFifixgQDxib2R5LTIiLCJmYW1pbHk8Um9ib3RvIFNsYWJ$LGBAPGJvZHktMSIsImZhbWlseTxSb2JvdG8gU2xhYn4sYEA8YnV0dG9ufixgQDxjYXB0aW9ufixgQDxpbnB1dCIsInNpemU$bnVsbH1dLCJpY29uczxUd29Ub25lIiwiP25lc3M$ZmFsc2UsInZlcnNpb24$MTN9
*/

// Foreground Elements
$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

// Dark Theme text
$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
  base:              $light-text,
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba($light-text, 0.3),
  disabled-text:     $light-disabled-text,
  elevation:         black,
  hint-text:         $light-disabled-text,
  secondary-text:    $light-accent-text,
  accent-text:       $light-accent-text,
  icon:              $light-text,
  icons:             $light-text,
  text:              $light-text,
  slider-min:        $light-text,
  slider-off:        rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);

// Background config

$dark-background:     #212121;
$dark-bg-lighter-5:   lighten($dark-background, 5%);
$dark-bg-lighter-10:  lighten($dark-background, 10%);
$dark-bg-lighter-20:  lighten($dark-background, 20%);
$dark-bg-lighter-30:  lighten($dark-background, 30%);
$light-bg-alpha-4:    rgba(#ffffff, 0.04);
$light-bg-alpha-12:   rgba(#ffffff, 0.12);

$mat-dark-theme-background: (
  background:               $dark-background,
  status-bar:               $dark-bg-lighter-20,
  app-bar:                  $dark-bg-lighter-5,
  hover:                    $light-bg-alpha-4,
  card:                     $dark-bg-lighter-5,
  dialog:                   $dark-bg-lighter-5,
  tooltip:                  $dark-bg-lighter-20,
  disabled-button:          $light-bg-alpha-12,
  raised-button:            $dark-bg-lighter-5,
  focused-button:           $light-focused,
  selected-button:          $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle:   $dark-bg-lighter-10,
  unselected-chip:          $dark-bg-lighter-20,
  disabled-list-option:     $dark-bg-lighter-10,
);

$dark-theme: (
  primary: $theme-primary,
  accent: $theme-accent,
  warn: $theme-warn,
  is-dark: false,
  foreground: $mat-dark-theme-foreground,
  background: $mat-dark-theme-background,
);


.dark-theme {
  @include mat.all-component-themes($dark-theme);
}
