@use '@angular/material' as mat;
@import 'themes/theme-base';
@import 'themes/light-theme';
@import 'themes/dark-theme';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$fontConfig: (
  display-4: mat.define-typography-level(110px, 112px, 300, 'Roboto Slab', -0.0134em),
  display-3: mat.define-typography-level(54px, 56px, 400, 'Roboto Slab', -0.0089em),
  display-2: mat.define-typography-level(43px, 48px, 400, 'Roboto Slab', 0em),
  display-1: mat.define-typography-level(32px, 40px, 400, 'Roboto Slab', 0.0074em),
  headline: mat.define-typography-level(22px, 32px, 400, 'Roboto Slab', 0em),
  title: mat.define-typography-level(18px, 32px, 500, 'Roboto Slab', 0.0075em),
  subheading-2: mat.define-typography-level(14px, 28px, 400, 'Roboto Slab', 0.0094em),
  subheading-1: mat.define-typography-level(13px, 24px, 500, 'Roboto Slab', 0.0067em),
  body-2: mat.define-typography-level(12px, 24px, 500, 'Roboto Slab', 0.0179em),
  body-1: mat.define-typography-level(12px, 20px, 400, 'Roboto Slab', 0.0179em),
  button: mat.define-typography-level(12px, 14px, 500, 'Roboto', 0.0893em),
  caption: mat.define-typography-level(10px, 20px, 400, 'Roboto', 0.0333em),
  input: mat.define-typography-level(inherit, 1.125, 400, 'Roboto', 1.5px),
);

// Compute font config
@include mat.core($fontConfig);

// Specific component overrides, pieces that are not in line with the general theming
// Handle buttons appropriately, with respect to line-height

//* MAT-BUTTON
.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
  padding: 0 1.15em;
  margin: 0 0.65em;
  min-width: 3em;
  line-height: 36.4px;
}
.mat-standard-chip {
  padding: 0.5em 0.85em;
  min-height: 2.5em;
}

.stockfolio-loading .mat-button-wrapper {
  visibility: hidden;
}
//* MAT-BUTTON

//* MAT-ICON
.mat-icon {
  vertical-align: middle !important;

  &.extra-small {
    font-size: 0.5em !important;
    height: 0.5em !important;
    width: 0.5em !important;
  }

  &.small {
    font-size: 1em !important;
    height: 1em !important;
    width: 1em !important;
  }

  &.medium {
    font-size: 1.5em !important;
    height: 1.5em !important;
    width: 1.5em !important;
  }

  &.large {
    font-size: 2em !important;
    height: 2em !important;
    width: 2em !important;
  }
}

.mat-accent.mat-focused .mat-form-field-prefix{
  transition: color 300ms cubic-bezier(0.55, 0, 0.55, 0.2);
  color: var(--stockfolio-accent-main);
}
//* MAT-ICON

.mat-autocomplete-panel.width-inherited {
  width: inherit !important; // Used to be able to inherit width in parent fixed elements of autocomplete-panel
}

.mat-form-field-label-wrapper {
  user-select: none;
}



.stockfolio-loading .mat-progress-spinner {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
}
