@import 'responsive.mixin';

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.nav-title {
  color: inherit;
  text-decoration: none;
  margin-left: 25px;

  &:hover {
    cursor: pointer;
  }
}

.navbar,
.mat-elevation-z8 {
  transition: transform 0.5s cubic-bezier(0.8, 0.2, 0.2, 0.8);
}

.hideNavbar {
  transform: translateY(-100%);
}

.menu-mobile {
  display: none;
}
.menu {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

@include breakpoint-up(SM) {
  .menu-mobile {
    display: block;
  }
  .menu {
    display: none;
  }
}
